<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507437213913-vio708g30i4uaqjbg0d3colqikj3r4oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507437213913-vio708g30i4uaqjbg0d3colqikj3r4oq</string>
	<key>API_KEY</key>
	<string>AIzaSyDI1VRvzOMNVsIVJzXdeo1_7lYBJ1FqJNA</string>
	<key>GCM_SENDER_ID</key>
	<string>507437213913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royalsoft.vietalk</string>
	<key>PROJECT_ID</key>
	<string>vietalk-bdc45</string>
	<key>STORAGE_BUCKET</key>
	<string>vietalk-bdc45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507437213913:ios:785fc0b8cf1c12121ef6c8</string>
	<key>DATABASE_URL</key>
	<string>https://vietalk-bdc45-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>